.footer-rgpd {
    margin-top: 3em;
    background-color: #333;
    color: #fff;
    padding: 2em 0;
  }
  
  .rgpd_social {
    display: flex;
    justify-content: center;
    padding: 0.5em 0em 1em 0em;
    margin-bottom: 0.8em;
  }
  
  .rgpd_social a {
    color: #fff;
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .rgpd_social img {
    width: 4.5em;
    height: auto;
  }
  
  .rgpd_copyright {
    text-align: center;
  }
  
  .rgpd_copyright p {
    margin: 0;
    font-size: 1.2em;
  }